

.body{
    font-family: helvetica;
}


label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background:#1b9bff;
    transition: .5s;
}

.divider{
    height: 50px;
    width: 100%;
    background: #fff;
}

.header{
    height: 50px;
    width: 200px;
    text-align: center;
    background: #0082E6
    color: #fff;
}
/* columns */
..row .col-sm-6{
    background: #0082E6;
    color: #fff;
}

.col-sm-6 h3{
    text-align: center;
}
.col-sm-6 p{
    text-align: center;
}
