<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/styleSheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/styleSheet.js"></script>
</head>

<body>
    <div class="container">
		<div th:replace="fragments/navbar"></div>
        <h2><strong>About</strong></h2> 
    </div>    
    
    <!-- Grid Layout 2 columns -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3></h3>
      <img src="https://ty1sherman.weebly.com/uploads/1/2/6/2/126205125/img-1422_orig.jpg" height="300px" width="350px" alt="" />
      <p></p>
    </div>
    <div class="col-sm-6">
      <h3>About Me</h3>
      <p>>Tywon Sherman, 48, a recent graduate (Dec, 2019) of Livingstone College in Salisbury NC., 
      with a degree in Computer Information Systems. Tywon is a retired, dedicated and results driven 
      professional with 23 years of strategic leadership experience as an Army  Leader.</p>

        <p>Mr. Sherman possess highly regarded skills in VB.net, C#, Java, C++, HTML, Java Script, programming,
     Information Systems and Microsoft Suite Applications. Tywon is a Team player and fast learner who is looking to leverage a strong academic performance and 
    launch his IT career. He has proficiency in installing and configuring computer hardware and software.</p>

        <p>While in the Army SFC Sherman(ret) served in several supervisory positions. He is Highly skilled in Technical Instruction, ​Preventive Maintenance, Fleet Management, Training/Career Development, and Conflict Resolution.</p>
      <p></p>
    </div>
  </div>
</div> 

</body>
</html>